/* .bg-theme{
    background-color: rgb(30, 78, 209);
} */

.theme{
    color: rgb(149, 81, 255);
}

.bg-none{
    background-color: transparent;
}

.bg-gradient{
    background: linear-gradient(90deg, rgb(54, 33, 82) 20%, rgb(82, 59, 92) 60%, rgb(75, 41, 138));
}
.card-title{
    padding: 1.25rem;
}


